<div class="card position-sticky">
    <div class="card-body">
        <div class="media">
            <img src="https://qph.fs.quoracdn.net/main-qimg-a790e9e4f418e04a45feb3a524793389" class="rounded img-fluid mr-3" style="max-width: 55px">
            <div class="media-body">
                <h5 class="mt-0">John Doe</h5>
                <a href="" class="text-small">Profilo</a>
            </div>
        </div>
        <br>
        <a href="" class="text-small ml-3 ">
            <span class="fa fa-images text-dark"></span>
            <span class="ml-2 text-dark">Foto</span>
        </a>
        <br>
        <a href="" class="text-small ml-3 ">
            <span class="fa fa-video text-dark"></span>
            <span class="ml-2 text-dark">Video</span>
        </a>
    </div>
</div>